body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

.app {
  background-color: #f3f4f6;
  height: 100vh;

  .ui {
    &.card {
      box-shadow: 0 2px 10px 0 rgba(21,27,38,.1);
      transition-duration: 200ms;
      transition-property: background, border-color, box-shadow;
    }

    &.comments {
      .header {
        &.white {
          //color: white;
        }
      }

      .comment {
        .author, .text {
          &.white {
            //color: white;
          }
        }

        .metadata {
          &.white {
            //color: lightgrey;
          }
        }
      }
    }
  }

  .activities {
    .header {
      &.white {
        //color: white;
      }
    }
  }
}

.ui {
  &.modal.active {

    .header {

      .ui.input>input {

      }
    }

    .content {

      .ui.input>input {
        background: transparent;
      }

      .ui.form textarea {
        background: transparent;
      }

      .ui.icon.input>i.icon {
        color: white;
      }

      .comments {

        .comment {
          .author {

          }

          .text {
            
          }

          .metadata {
            color: darkgrey;
          }
        }

        .header {
          &.white {
            
          }
        }
  
        .comment {
          .author, .text {
            .white {
              
            }
          }
  
          .metadata {
            &.white {
              color: darkgrey;
            }
          }
        }
      }
    }
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import "./stylesheets/main.scss";